[defaults]
remote_user = ec2-user
private_key_file = /Users/kemori/dev/patch-aap-demo/patch-demo-key.pem

inventory = inventory
retry_files_enabled = False
gathering = explicit
host_key_checking = False
timeout = 600
stdout_callback = default
show_custom_stats = true
collections_path = ./collections:~/.ansible/collections:../.ansible/collections
roles_path = ./roles:~/.ansible/roles:../.ansible/roles

; caching
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 60

[ssh_connection]
pipelining = False

[inventory]
cache = true
cache_plugin = jsonfile
cache_timeout = 60

[persistent_connection]
connect_timeout = 60
command_timeout = 60